<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Megnevezes</th>
            <th scope="col">Gyári szám</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for eszkoz in page_obj %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'eszkoz_brief' eszkoz.pk %}">{{ eszkoz.megnevezes }}</a></td>
                <td>{{ eszkoz.gyariszam }}</td>
                <td>
                    {% if is_admin %}
                    <a href="{% url 'eszkoz_edit' eszkoz.pk %}" class="btn btn-sm btn-outline-primary">Szerkesztés</a>
                     <a href="{% url 'eszkoz_delete' eszkoz.pk %}" class="btn btn-sm btn-outline-danger">Törlés</a>
                      <a href="{% url 'mozgas_letrehozas_eszkozhez' eszkoz.id %}" class="btn btn-sm btn-outline-info"> Mozgás rögzítése</a>
                      <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#imageUploadModal" data-eszkoz-id="{{ eszkoz.id }}">
                          Kép feltöltése
                      </button>
                      
                    {% elif is_operator %}
                    <a href="{% url 'eszkoz_edit' eszkoz.pk %}" class="btn btn-sm btn-outline-primary">Szerkesztés</a>
                    <a href="{% url 'mozgas_letrehozas_eszkozhez' eszkoz.id %}" class="btn btn-sm btn-outline-sinfo"> Mozgás rögzítése</a>
                    {% else %}
                        <span class="text-muted">Csak megtekintés</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      
      <!-- lapozás -->
      <nav aria-label="Oldalak">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Előző</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Előző</span></li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
              <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}">Következő</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">Következő</span></li>
          {% endif %}
        </ul>
      </nav>